body{
    background-color: grey;
}
.h2{
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(139, 15, 15);
    border-radius: 15px;
    height: 40px;
    width: 450px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    text-shadow: 2px 2px 2px  brown;
    background-color: white;
    color: rgb(139, 15, 15);   
    box-shadow: 8px 8px rgb(58, 15, 99);
    margin-left: 400px;
    margin-top: 15px;
    padding-bottom: 160px;
    font-style: italic;
}
.container{
    display: flex;
    flex-direction: row;
    position: relative;
border: 7px solid rgb(10, 122, 10);
height: 600px;
width:  1328px;
flex-wrap: wrap;
justify-content: flex-start;
}
.bx{
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(139, 15, 15);
    border-radius: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    text-shadow: 2px 2px 2px  brown;
    background-color: white;
    color: black;   
    box-shadow: 8px 8px rgb(58, 15, 99);
    margin: 20px;
}
.bx1{
    display: flex;
 flex-direction: row;
 flex-wrap: wrap;
    position: absolute;
    margin-top:10px;
}
.bx2{
position: absolute;
margin-top: 10px;
margin-left: 1100px;
}
.bx3{
position: absolute;
top: 350px;
margin-left: 1100px;
text-align: center;
}
.bx4{
    position: absolute;
 top: 350px;
}
.img{
    height:140px;
     weight :140px;
     padding-top: 25px;
     padding-left: 10px;
}
.bt{
    border-radius: 10px;
    background-color: red;
    height: 20px;
    width: 88px;
}
.fr{
padding-left: 20px;
}
.inp{
width: 110px;
box-shadow: 1px 1px  blue;
}
.at{
    display: flex;
    flex-direction: row;
}
.at1{
   margin-top: -15px;
   margin-left: 100px;
    font-size:18px;
    font-weight: bolder;
}
.at2{
    margin-left: 25px;
}
.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 300px;
border: 7px solid  rgb(58, 15, 99);
background-color: green;
height: 720px;
width:  705px;
align-items: center;
justify-content: center;
}
.at3{
    position: absolute;
    left: 200px;
    top: 5px;
}
.bx6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 200PX;
    height:200px ;
    width: 400px;
    border: 2px solid gray;
    background-color:khaki;
    padding-top: 10px;
    padding-bottom: 20px;
align-items: flex-end;
text-align: center;
font-style:italic;
font-weight: bold;
font-size:14px;
}
.bx7{
    position: absolute;
    left: 5px;
    top: 86px;
 width:340px ;
 height: 290px;
 padding-top: 35px;
    justify-content: center;
    
}
.bx8{
    position: absolute;
    right: 5px;
    top: 86px;
 width:340px ;
    height:290px;
    padding-top: 35px;
    justify-content: center;
}
.bx9{
    position: absolute;
    right: 5px;
    top: 440px;
    left: 5px;
 width: 690px;
 padding-top: 30px;
    height:220px;
    justify-content: center;
}
.line{
        width: 800px;
        margin-top:-40px;
    }
.h{
    margin-top: -25px;
    padding-top: -10px;
}
.p1{
    margin-top: -10px;
}
.fx{
    position: fixed;
    bottom: 45px;
   margin-top: 850px;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    border: 5px solid red;
    height: 80px;
    width: 500px;
    color: brown;
    border-radius: 10px;
    background-color: chartreuse;
    box-shadow: 8px 8px rgb(58, 15, 99);
}